<% if obj.errors.any? %>
  <div class="alert alert-danger offset-sm-2 col-sm-8" role="alert">
    <h4 class="alert-heading">
      <%= pluralize(obj.errors.count, "error") %>
      prevented the article's creation
    </h4>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>