<!DOCTYPE html>
<html>
<head>
  <title>My page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>

<body>
  <div class="center jumbotron">
    <h1>BLOG</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-xlarge" %>
  </div>
</body>
</html>
